NET "a" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "b" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "c" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "d" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;

NET "sel<0>" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "sel<1>" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;

NET "y" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;