.zhi {
	FONT-FAMILY: "宋体"; FONT-SIZE: 12px
}
.button {
	BORDER-BOTTOM: #cccccc 1px outset; BORDER-LEFT: #cccccc 1px outset; BACKGROUND: #ffffff; HEIGHT: 16px; COLOR: #000000; FONT-SIZE: 9pt; BORDER-TOP: #cccccc 1px outset; BORDER-RIGHT: #cccccc 1px outset
}
A.1:link {
	FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.1:visited {
	FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.1:active {
	FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.1:hover {
	FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.w1:link {
	FONT-FAMILY: "宋体"; COLOR: #005e5e; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.w1:visited {
	FONT-FAMILY: "宋体"; COLOR: #005e5e; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.w1:active {
	FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.w1:hover {
	FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.map:link {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.map:visited {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.map:active {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.map:hover {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.lis:link {
	FONT-FAMILY: "宋体"; COLOR: #005e5e; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.lis:visited {
	FONT-FAMILY: "宋体"; COLOR: #005e5e; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.lis:active {
	FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.lis:hover {
	FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.4:link {
	LINE-HEIGHT: 24px; FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.4:visited {
	LINE-HEIGHT: 24px; FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.4:active {
	LINE-HEIGHT: 24px; FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.4:hover {
	LINE-HEIGHT: 24px; FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A:link {
	FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:visited {
	FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:active {
	FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A:hover {
	FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A.2:link {
	FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.2:visited {
	FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.2:active {
	FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.2:hover {
	POSITION: relative; FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 9pt; RIGHT: 0px; TEXT-DECORATION: underline; TOP: 2px
}
A.3:link {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.3:visited {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.3:active {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.3:hover {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #ff6600; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.channel_keylink:link {
	LINE-HEIGHT: 22px; COLOR: #0000ff; FONT-SIZE: 14px
}
A.channel_keylink:visited {
	LINE-HEIGHT: 22px; COLOR: #0000ff; FONT-SIZE: 14px
}
A.channel_keylink:hover {
	LINE-HEIGHT: 22px; COLOR: #ff3333; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
A.channel_keylink:active {
	LINE-HEIGHT: 22px; COLOR: #ff3333; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.zhi1 {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; FONT-SIZE: 12px
}
.zhi12 {
	LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; FONT-SIZE: 12px
}
.button {
	BORDER-BOTTOM: #cccccc 1px outset; BORDER-LEFT: #cccccc 1px outset; BACKGROUND: #ffffff; HEIGHT: 16px; COLOR: #000000; FONT-SIZE: 9pt; BORDER-TOP: #cccccc 1px outset; BORDER-RIGHT: #cccccc 1px outset
}
.lanyu {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #808080 1px solid; DISPLAY: inline; FONT-FAMILY: "宋体"; HEIGHT: 18px; FONT-SIZE: 12px; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #808080 1px solid
}
.zhi14 {
	LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 14px
}
.zhi17 {
	FONT-FAMILY: "宋体"; COLOR: #003399; FONT-SIZE: 17px; FONT-WEIGHT: bold
}
.dian {
	BORDER-TOP: #cccccc 1px dotted
}
.yin {
	Z-INDEX: 99; FILTER: DropShadow(Color=#FFFFFF,OffX=1, OffY=1); WIDTH: 336px; FONT-FAMILY: "宋体"; FLOAT: right; HEIGHT: 300px; FONT-SIZE: 12px; zh114: both
}
.zh114 A {
	COLOR: #0000ff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.zh114 A:link {
	COLOR: #0000ff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.zh114 A:active {
	COLOR: #0000ff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.zh114 A:visited {
	COLOR: #0000ff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.zh114 A:hover {
	COLOR: #0000ff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.kuang {
	BORDER-BOTTOM: #4d8281 1px solid; BORDER-LEFT: #4d8281 1px solid; BORDER-TOP: #4d8281 1px solid; BORDER-RIGHT: #4d8281 1px solid
}
.kuang2 {
	BORDER-BOTTOM: #abc3c3 1px solid; BORDER-LEFT: #abc3c3 1px solid; BACKGROUND-COLOR: #f1fdff; BORDER-TOP: #abc3c3 1px solid; BORDER-RIGHT: #abc3c3 1px solid
}
.youlink {
	LINE-HEIGHT: 23px
}
.youlink IMG {
	MARGIN-LEFT: 15px
}
