.tail-info {
	color: rgb(153, 153, 153);
}
.view-sps {
	background: url("http://static.wenku.bdimg.com/static/view/flash_view/view-sps_d229262e.png") no-repeat;
}
.p20 {
	padding: 20px;
}
.body {
	margin-top: 10px;
}
.aside {
	border: 1px solid rgb(247, 245, 245); width: 263px; margin-left: -1px;
}
.WK_appBanner {
	margin: 20px;
}
.WK_appBanner img {
	width: 223px; height: 80px;
}
.crumbs {
	position: relative;
}
.page-doc-list {
	padding: 0px 20px;
}
.page-doc-list h4 {
	color: rgb(51, 51, 51); padding-bottom: 3px; font-size: 14px; font-weight: bold; float: left;
}
.page-doc-list .bd {
	padding-top: 5px; border-top-color: rgb(245, 245, 245); border-top-width: 1px; border-top-style: solid;
}
.page-doc-list a {
	font-size: 14px;
}
.page-doc-list .doc-title {
	white-space: nowrap;
}
.page-doc-list .doc-title .ic {
	margin-right: 8px;
}
.page-doc-list .bd .tail-info {
	padding-left: 24px;
}
.page-doc-list .page-info {
	display: inline-block;
}
.page-doc-list .tabControl {
	display: inline-block;
}
.page-doc-list .tabControl a {
	display: inline-block;
}
.page-doc-list .page-info {
	height: 14px; margin-right: 10px; vertical-align: middle;
}
.page-doc-list .tabControl {
	height: 14px; letter-spacing: -0.31em; word-spacing: -0.43em; vertical-align: middle; position: relative;
}
.page-doc-list .tabControl a {
	width: 13px; height: 14px; letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block;
}
.page-doc-list .tabControl a.pre {
	background-position: 0px -280px;
}
.page-doc-list .tabControl a.next {
	background-position: -40px -280px;
}
.page-doc-list .tabControl a.pre-null {
	background-position: 0px -320px;
}
.page-doc-list .tabControl a.next-null {
	background-position: -40px -320px;
}
.page-doc-list .tabContent li {
	display: none;
}
.page-doc-list .tabContent .current {
	display: block;
}
.page-doc-list .item p {
	height: 22px;
}
.page-doc-list .item .tail-info {
	height: 22px;
}
.page-doc-list b.top {
	display: none;
}
.page-doc-list b.bottom {
	display: none;
}
.page-doc-list .page-control {
	font-weight: bold;
}
.page-doc-list .bd {
	line-height: 22px;
}
.doc-header {
	background: rgb(250, 253, 252); border-width: 1px 1px 0px; border-style: solid; border-color: rgb(235, 247, 244); padding: 10px 20px 15px; overflow: hidden; position: relative; -margin-bottom: -5px;
}
.doc-header h1 {
	width: 460px; padding-bottom: 10px; font-weight: bold; display: inline-block;
}
.doc-header .reader_ab_test {
	width: auto; display: block;
}
.doc-header .doc-desc {
	color: rgb(102, 102, 102); line-height: 20px;
}
.doc-header .doc-desc-more {
	font-family: "simsun"; margin-left: 3px;
}
.doc-header .doc-desc-all {
	display: none;
}
.doc-header .tail-bar {
	top: 13px; right: 20px; position: absolute;
}
.doc-header .tail-bar li {
	padding-right: 10px; float: left;
}
.doc-header .ic {
	margin-right: 5px;
}
.doc-header .ic-down {
	background-position: -120px -239px;
}
.doc-header .ic-fav {
	background-position: -80px -238px;
}
.screen-max .page {
	width: 1078px;
}
.screen-min .page {
	width: 980px;
}
#hd {
	margin: 0px auto; width: 980px;
}
