.doc-header {
	background: rgb(250, 253, 252); border-width: 1px 1px 0px; border-style: solid; border-color: rgb(235, 247, 244); padding: 10px 10px 15px 20px; overflow: hidden; position: relative; -margin-bottom: -5px;
}
.doc-header h1 {
	width: 460px; padding-bottom: 10px; font-weight: bold; display: inline-block;
}
.doc-header .viewCount {
	color: rgb(102, 102, 102); font-size: 14px; font-weight: normal; vertical-align: -2px;
}
.doc-header .viewCount b {
	font-size: 12px;
}
.doc-header .reader_ab_test {
	width: auto; display: block;
}
.doc-header .doc-desc {
	color: rgb(102, 102, 102); line-height: 20px; overflow: hidden; word-break: break-all; word-wrap: break-word;
}
.doc-header .doc-desc-more {
	font-family: "simsun"; margin-left: 3px;
}
.doc-header .doc-desc-all {
	overflow: hidden; display: none; word-break: break-all; word-wrap: break-word;
}
.doc-header .tail-bar {
	top: 13px; right: 20px; position: absolute;
}
.doc-header .tail-bar li {
	padding-right: 10px; float: left;
}
.doc-header .ic {
	margin-right: 5px;
}
.doc-header .ic-down {
	background-position: -120px -239px;
}
.doc-header .ic-fav {
	background-position: -80px -238px;
}
.doc-header .ic-report {
	background-position: -160px -239px;
}
.doc-info {
	padding: 0px 20px; position: relative; z-index: 1000; _zoom: 1;
}
.doc-info h4 {
	color: rgb(51, 51, 51); padding-bottom: 8px; font-size: 14px; font-weight: bold; float: left;
}
.doc-info .del-tip {
	color: rgb(102, 102, 102); padding-bottom: 15px;
}
.doc-info .doc-copr-warp {
	border: 1px solid rgb(227, 230, 229); padding-bottom: 10px; margin-top: 5px;
}
.doc-info .doc-copr-warp .normal-font {
	font-size: 12px !important; font-style: normal;
}
.doc-info .doc-copr-warp .doc-copr-intro {
	padding: 0px 2px 10px 3px; font-size: 12px; margin-bottom: -1px; border-bottom-color: rgb(227, 230, 229); border-bottom-width: 2px; border-bottom-style: solid;
}
.doc-info .doc-copr-warp .doc-copr-intro .doc-copr-icon {
	background-position: 0px -73px; width: 28px; height: 28px; float: left; background-image: url("http://static.wenku.bdimg.com/static/widget/view/doc_info/images/doc-copr_28ed5397.png"); background-repeat: no-repeat;
}
.doc-info .doc-copr-warp .doc-copr-intro .doc-copr-text {
	color: rgb(0, 0, 0); font-size: 14px; margin-top: -3px; float: left; display: block; word-break: break-all;
}
.doc-info .doc-copr-warp .doc-copr-intro .tail-info {
	line-height: 18px;
}
.doc-info .doc-copr-warp .doc-ownner-intro {
	padding: 5px;
}
.doc-info .doc-copr-warp .doc-ownner-intro .doc-org-logo {
	width: 200px; height: 80px;
}
.doc-info .doc-copr-warp .doc-ownner-intro .doc-org-des {
	background: rgba(0, 0, 0, 0.5); width: 200px; height: 22px; text-align: center; color: rgb(255, 255, 255); line-height: 22px; font-size: 14px; text-decoration: none; margin-top: -22px; display: block; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); position: relative; zoom: 1;
}
.doc-info .doc-copr-warp .doc-ownner-intro :root .doc-org-des {
	filter: none\9;
}
.doc-info .doc-copr-warp .doc-ownner-intro .doc-verifyuser-info {
	text-align: left;
}
.doc-info .doc-copr-warp .doc-ownner-intro .doc-verifyuser-info .doc-verifyuser-link {
	font-size: 14px;
}
.doc-info .doc-copr-warp .doc-ownner-intro .center-warp {
	margin: 0px auto; padding: 10px 5px; width: 200px; text-align: center; border-bottom-color: rgb(187, 187, 187); border-bottom-width: 1px; border-bottom-style: dashed;
}
.doc-info .doc-copr-warp .doc-ownner-intro .doc-ownner-score {
	text-align: left; margin-top: 10px;
}
.doc-info .doc-copr-warp .doc-ownner-intro .doc-ownner-onsale {
	text-align: left;
}
.doc-info .doc-copr-warp .doc-ownner-intro .doc-ownner-recent {
	text-align: left;
}
.doc-info .doc-copr-warp .doc-ownner-intro .resize-font {
	font-size: 14px;
}
.doc-info .doc-copr-warp .doc-ownner-intro .gbma-r {
	border-width: 5px; margin-left: 5px; vertical-align: middle; border-left-color: rgb(36, 92, 69);
}
.doc-info .doc-copr-warp .doc-ownner-intro .doc-ownner-link {
	text-align: center; margin-top: 10px;
}
.doc-info .doc-copr-warp .doc-ownner-intro .doc-ownner-link .ui-btn-26-light:hover .gbma-r {
	border-left-color: rgb(36, 92, 69);
}
.doc-info .doc-copr-shadow-flash {
	height: 5px; margin-bottom: 30px; background-image: url("http://static.wenku.bdimg.com/static/widget/view/doc_info/images/doc-copr_28ed5397.png"); background-repeat: no-repeat;
}
.doc-info .doc-copr-shadow-html {
	background-position: 0px -44px; height: 5px; margin-bottom: 30px; background-image: url("http://static.wenku.bdimg.com/static/widget/view/doc_info/images/doc-copr_28ed5397.png"); background-repeat: no-repeat;
}
.doc-info .report {
	font-size: 12px; font-weight: 500; float: right;
}
.doc-info .hidden-info {
	display: none;
}
.doc-info .keyword a {
	margin-right: 10px;
}
.doc-info .lec-home {
	background-position: 0px -160px; margin-top: 10px;
}
.doc-info .lec-home .lec-logo {
	width: 46px; height: 40px; margin-right: 10px; float: left;
}
.doc-info .org-logo {
	padding: 0px 0px 10px 3em;
}
.doc-info .org-logo img {
	width: 150px; height: 60px;
}
.doc-info .ic-vip1 {
	width: 18px; height: 21px; margin-left: 5px; vertical-align: middle;
}
.doc-info .ic-vip2 {
	width: 18px; height: 21px; margin-left: 5px; vertical-align: middle;
}
.doc-info .ic-vip3 {
	width: 18px; height: 21px; margin-left: 5px; vertical-align: middle;
}
.doc-info .bd {
	line-height: 22px;
}
.doc-info .author .tail-info {
	width: 218px; overflow: hidden; display: block; word-break: break-all; word-wrap: break-word;
}
.reportForm {
	margin: 0px auto; width: 470px; text-align: left;
}
.reportForm h3 {
	color: rgb(102, 102, 102); font-weight: bold; margin-top: 20px;
}
.reportForm h3 {
	color: rgb(102, 102, 102); line-height: 25px; font-size: 12px; vertical-align: middle; _margin-bottom: 5px;
}
.reportForm p {
	color: rgb(102, 102, 102); line-height: 25px; font-size: 12px; vertical-align: middle; _margin-bottom: 5px;
}
.reportForm p input {
	margin-right: 7px; vertical-align: middle !important;
}
.reportForm p label {
	vertical-align: middle;
}
.report-green-button {
	text-align: center; font-weight: bold; text-decoration: none !important; display: inline-block; background-image: url("http://img.baidu.com/img/iknow/docshare/wk-jb-icon_2.png"); background-attachment: scroll; background-repeat: no-repeat; background-color: transparent;
}
.report-gray-button {
	text-align: center; font-weight: bold; text-decoration: none !important; display: inline-block; background-image: url("http://img.baidu.com/img/iknow/docshare/wk-jb-icon_2.png"); background-attachment: scroll; background-repeat: no-repeat; background-color: transparent;
}
.report-gray-s-button {
	text-align: center; font-weight: bold; text-decoration: none !important; display: inline-block; background-image: url("http://img.baidu.com/img/iknow/docshare/wk-jb-icon_2.png"); background-attachment: scroll; background-repeat: no-repeat; background-color: transparent;
}
.report-green-button {
	width: 96px; height: 32px; line-height: 33px; font-size: 14px; margin-right: 23px; background-repeat: no-repeat;
}
.report-gray-button {
	width: 96px; height: 32px; line-height: 33px; font-size: 14px; margin-right: 23px; background-repeat: no-repeat;
}
.report-gray-button {
	color: rgb(36, 92, 69) !important; font-size: 14px;
}
.report-gray-s-button {
	color: rgb(36, 92, 69) !important; font-size: 14px;
}
.report-gray-s-button {
	margin: 0px 10px; width: 78px; height: 26px; line-height: 27px; overflow: hidden; background-repeat: no-repeat;
}
.report-green-button {
	background-position: 0px -36px; color: rgb(255, 255, 255) !important;
}
.report-green-button:hover {
	background-position: 0px -69px;
}
.report-green-button-disabled {
	background-position: 0px -102px !important; color: rgb(102, 102, 102) !important; cursor: default;
}
.report-gray-button {
	background-position: 0px -135px;
}
.report-gray-button:hover {
	background-position: 0px -168px;
}
.report-gray-s-button {
	background-position: 0px -201px;
}
.report-gray-s-button:hover {
	background-position: 0px -228px;
}
.reportErrorPop {
	margin: 0px 20px; text-align: center; display: block;
}
.reportErrorPop h2 {
	color: rgb(51, 51, 51); font-size: 16px; font-weight: bold;
}
.reportErrorPop h2.report_success_icon {
	background-position: 0px -309px; margin: 0px auto 10px; width: 183px; height: 22px; background-image: url("http://img.baidu.com/img/iknow/docshare/wk-jb-icon_2.png");
}
.reportErrorPop p {
	color: rgb(136, 136, 136); font-size: 12px;
}
.report_item_child p {
	color: rgb(153, 153, 153);
}
.report_textarea {
	padding: 5px; outline: 0px; border: 1px solid rgb(204, 204, 204); width: 344px; height: 61px; overflow: auto; resize: none;
}
.report_word_count {
	vertical-align: bottom; display: inline-block;
}
.ic-editTitle {
	background-image: url("http://static.wenku.bdimg.com/static/widget/view/edit_doc/edit_title_876e7e03.png");
}
.ic-editDesc {
	background-image: url("http://static.wenku.bdimg.com/static/widget/view/edit_doc/edit_desc_37079cad.png");
}
.ic-editCate {
	background-image: url("http://static.wenku.bdimg.com/static/widget/view/edit_doc/edit_cate_cae1781f.png");
}
.edit-docprice {
	padding: 0px 20px;
}
.edit-docprice dt {
	padding-bottom: 8px; font-size: 14px;
}
.edit-docprice .edit-docprice-pay {
	margin-left: 20px;
}
.delReason {
	margin: -4px auto; width: 320px; font-size: 12px;
}
.delReason label {
	padding: 0px 0px 8px 6px; width: 154px; float: left;
}
.delReason span {
	top: -2px; margin-left: 10px; position: relative; _top: 2px;
}
.event-info {
	border: 1px solid rgb(214, 230, 213); background-color: rgb(250, 253, 252);
}
.event-info .ic {
	margin-right: 10px;
}
.event-info .doc-title {
	line-height: 24px;
}
.event-info .more_topic_link {
	line-height: 22px; margin-bottom: 10px;
}
.event-info .more_topic_link a {
	font-size: 12px;
}
.topic_image_link {
	text-align: center;
}
.topic_image_link_wrap {
	width: 222px; height: 80px; text-align: left; position: relative; background-image: url("http://img.baidu.com/img/iknow/docshare/view_topic_banner_222x80.png");
}
.topic_image_link_wrap a:link {
	left: 0px; top: 0px; width: 222px; height: 80px; color: rgb(61, 76, 110); line-height: 94px; text-indent: 5px; overflow: hidden; font-family: "Microsoft YaHei",simhei; font-size: 18px; font-weight: bold; text-decoration: none; position: absolute;
}
.topic_image_link_wrap a:visited {
	left: 0px; top: 0px; width: 222px; height: 80px; color: rgb(61, 76, 110); line-height: 94px; text-indent: 5px; overflow: hidden; font-family: "Microsoft YaHei",simhei; font-size: 18px; font-weight: bold; text-decoration: none; position: absolute;
}
.topic_image_link_wrap a:hover {
	left: 0px; top: 0px; width: 222px; height: 80px; color: rgb(61, 76, 110); line-height: 94px; text-indent: 5px; overflow: hidden; font-family: "Microsoft YaHei",simhei; font-size: 18px; font-weight: bold; text-decoration: none; position: absolute;
}
.doc-info .doc-title {
	font-size: 12px;
}
.page-doc-list .recommend-list li {
	line-height: 22px;
}
.page-doc-list .recommend-list li a {
	font-size: 12px;
}
.doc-upload {
	text-align: center; padding-top: 5px;
}
.doc-upload .btn-upload {
	background-position: 0px -40px; width: 223px; height: 40px; vertical-align: top;
}
.doc-upload .btn-upload:hover {
	
}
.down-doc {
	background: rgb(250, 253, 252); border-width: 0px 1px 1px; border-style: solid; border-color: rgb(235, 247, 244); padding: 20px; position: relative; z-index: 2;
}
.down-doc .down-btn-area {
	float: left; display: block;
}
.down-doc .down-btn-area .view-sps {
	float: left;
}
.down-doc #editDocPrice .view-sps {
	float: none;
}
.down-doc .down-btn-area .discribe-text {
	background: rgb(237, 250, 245); border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(227, 243, 237) rgb(227, 243, 237) rgb(227, 243, 237) currentColor; padding: 0px 10px; height: 36px; color: rgb(46, 148, 106); line-height: 36px; font-size: 12px; float: left;
}
.down-doc .down-load-btn {
	margin-left: 40px;
}
.down-doc .pay-doc-btn {
	margin-left: 40px;
}
.down-doc .down-load-btn .discribe-text {
	color: rgb(153, 153, 153); line-height: 18px;
}
.down-doc .pay-doc-btn .discribe-text {
	color: rgb(153, 153, 153); line-height: 18px;
}
.down-doc .text-hasPay {
	height: 38px; line-height: 38px;
}
.down-doc .ic-hasPay {
	background-position: -80px -280px; width: 16px; height: 10px; float: none !important;
}
.down-doc .btn-fav {
	background-position: 0px -497px; width: 151px; height: 38px;
}
.down-doc .btn-fav:hover {
	background-position: 0px -577px;
}
.down-doc .btn-faved {
	background-position: -113px -456px; width: 116px; height: 38px;
}
.down-doc .btn-faved:hover {
	background-position: -113px -537px;
}
.down-doc .btn-down {
	background-position: 0px -456px; width: 100px; height: 38px;
}
.down-doc .btn-down:hover {
	background-position: 0px -537px;
}
.down-doc .btn-payDoc {
	background-position: 0px -617px; width: 99px; height: 38px;
}
.down-doc .payDoc-down-disable {
	background-position: -113px -617px !important;
}
.down-doc .tail-info {
	line-height: 18px;
}
.down-doc .daily-entry-tip {
	color: rgb(102, 102, 102); clear: both; font-size: 12px; margin-top: 51px; margin-bottom: 5px; _margin-top: 13px;
}
.share-doc .share-text {
	height: 16px; padding-top: 5px; float: left;
}
.share-doc .share-more {
	height: 16px; padding-top: 5px; float: left;
}
.share-doc .gbma-d {
	border-width: 4px; border-color: rgb(153, 153, 153) rgb(250, 253, 252) rgb(250, 253, 252); top: 2px; position: relative; cursor: pointer;
}
.share-doc .share-more {
	top: 1px; width: 23px; height: 19px; overflow: hidden; padding-left: 3px; position: relative; cursor: pointer;
}
.reader-share {
	margin: 10px 0px; width: 330px; display: none; z-index: 8000;
}
.reader-share #bdshare {
	float: none;
}
.bds_tools_32 a {
	padding: 0px;
}
.reader-share dt {
	padding-bottom: 8px;
}
.reader-share dd {
	padding-bottom: 8px;
}
.reader-share .ui-btn {
	margin-right: 20px;
}
.reader-share input.big {
	margin-left: 20px;
}
.reader-share dd label {
	margin-left: 5px;
}
.reader-code {
	padding: 5px 3px; border: 1px solid rgb(212, 227, 221); width: 320px; height: 14px; overflow: hidden;
}
#editDocPrice .ic-price {
	background-position: -40px -236px;
}
.wk-downdoc-dialog .dlg-down {
	text-align: left;
}
.wk-downdoc-dialog .dlg-down .c-black {
	color: rgb(0, 0, 0); word-break: break-all;
}
.wk-downdoc-dialog .dlg-down .title {
	padding: 0px 20px 8px;
}
.wk-downdoc-dialog .dlg-down .info {
	padding: 8px 0px 8px 20px; line-height: 24px;
}
.wk-downdoc-dialog .dlg-down .you-can {
	padding: 8px 0px 8px 20px; line-height: 24px;
}
.wk-downdoc-dialog .dlg-down .info {
	background: rgb(235, 247, 242); font-size: 14px;
}
.wk-downdoc-dialog .dlg-down .read-more {
	padding-left: 20px;
}
.wk-downdoc-dialog .dlg-down .prompt {
	padding-left: 20px;
}
.wk-downdoc-dialog .viewReader {
	text-align: left; padding-left: 35px;
}
.wk-downdoc-dialog .viewReader p {
	margin-bottom: 10px;
}
.wk-downdoc-dialog .prompt {
	margin-top: 10px;
}
.wk-downdoc-dialog .you-can dt {
	font-size: 12px;
}
.wk-downdoc-dialog .you-can dd {
	font-size: 12px;
}
.wk-downdoc-dialog .you-can a {
	font-size: 12px;
}
.wk-downdoc-dialog .read-more {
	font-size: 12px;
}
.ui-panel {
	top: 38px; right: 10px; display: none; position: absolute;
}
.share-pop .bd {
	height: 245px;
}
.share-pop .bd * .close-tip {
	right: 10px; float: none; position: absolute;
}
.sns-share {
	margin: 65px 20px 10px; padding: 10px 0px; color: rgb(102, 102, 102); border-top-color: rgb(219, 219, 219); border-top-width: 1px; border-top-style: dotted;
}
.sns-share .icon {
	background: url("http://static.wenku.bdimg.com/static/widget/view/down_doc/icon_0218e544.gif") no-repeat 0px 4px; padding-left: 10px;
}
.sns-share .bind input {
	margin-right: 2px; vertical-align: bottom; position: relative; -top: -5px;
}
.sns-share .bind p {
	padding-bottom: 8px;
}
.sns-down {
	top: -85px; position: relative; -top: -105px;
}
.sns-down-binded {
	top: -65px; position: relative; -top: -145px;
}
.share-icons {
	padding-bottom: 5px;
}
.share-box-tip {
	background: url("http://static.wenku.bdimg.com/static/widget/view/down_doc/share-box-tip_2321d399.png") no-repeat; width: 271px; height: 46px; text-align: center; line-height: 46px; padding-bottom: 0px; margin-left: 4px; display: inline-block;
}
.main .other-like-doc {
	padding: 0px;
}
.main .other-like-doc .data {
	height: 200px; line-height: 32px;
}
.main .other-like-doc .data .bg-green {
	background: rgb(250, 253, 252);
}
.main .other-like-doc .hd {
	position: static;
}
.main .other-like-doc .bd {
	border: 0px currentColor;
}
.main .other-like-doc .doc-title {
	width: 450px; padding-left: 20px;
}
.main .other-like-doc .doc-title .ic {
	margin-right: 5px;
}
.main .other-like-doc .doc-price {
	width: 70px;
}
.main .other-like-doc .doc-page-num {
	width: 60px;
}
.main .other-like-doc .doc-value {
	width: 115px;
}
.main .relate-doc {
	padding: 0px; position: relative; z-index: 1;
}
.main .relate-doc .bd {
	border: 0px currentColor;
}
.main .relate-doc .data {
	line-height: 32px;
}
.main .relate-doc .data .bg-green {
	background-color: rgb(250, 253, 252);
}
.main .relate-doc .hd {
	z-index: 0;
}
.main .relate-doc .bd {
	border: 0px currentColor;
}
.main .relate-doc .doc-title {
	width: 450px; padding-left: 20px;
}
.main .relate-doc .doc-title .ic {
	margin-right: 5px;
}
.main .relate-doc .doc-price {
	width: 70px;
}
.main .relate-doc .doc-page-num {
	width: 60px;
}
.main .relate-doc .doc-value {
	width: 115px;
}
#doc .ic-star-s-on {
	background: url("http://static.wenku.bdimg.com/static/widget/view/relate_doc/v-star-arrow_54b3c254.png") no-repeat 0px 2px;
}
#doc .ic-star-s-half {
	background: url("http://static.wenku.bdimg.com/static/widget/view/relate_doc/v-star-arrow_54b3c254.png") no-repeat -35px 2px;
}
#doc .ic-star-s-off {
	background: url("http://static.wenku.bdimg.com/static/widget/view/relate_doc/v-star-arrow_54b3c254.png") no-repeat -67px 2px;
}
#doc .low-star-value .ic-star-s-on {
	background: url("http://static.wenku.bdimg.com/static/widget/view/relate_doc/v-star-arrow_54b3c254.png") no-repeat -132px 2px;
}
#doc .low-star-value .ic-star-s-half {
	background: url("http://static.wenku.bdimg.com/static/widget/view/relate_doc/v-star-arrow_54b3c254.png") no-repeat -100px 2px;
}
.same-series-course h5 {
	color: rgb(51, 51, 51); padding-bottom: 3px; font-size: 14px; font-weight: bold; margin-bottom: 8px; border-bottom-color: rgb(245, 245, 245); border-bottom-width: 1px; border-bottom-style: solid;
}
.same-series-course img {
	padding: 1px; border: 1px solid rgb(225, 225, 225); width: 60px; height: 32px; float: left;
}
.same-series-course h6 {
	font-weight: normal;
}
.same-series-course .base-info {
	margin-left: 70px;
}
.same-series-course p {
	color: rgb(153, 153, 153); margin-top: 3px;
}
.same-series-course ul {
	clear: both; font-size: 14px; margin-top: 7px;
}
.same-series-course ul li {
	padding: 3px 0px;
}
.reader_tools_bar {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(200, 219, 211) rgb(200, 219, 211) currentColor; height: 29px; letter-spacing: -0.3em; background-image: url("http://static.wenku.bdimg.com/static/widget/view/doc_reader/bg_docreader_tools_bar_a229ab47.gif");
}
.reader_tools_item_btn {
	padding: 5px 5px 0px 15px; height: 24px; color: rgb(110, 160, 132); letter-spacing: 0px; text-decoration: none; display: inline-block;
}
.reader_fullScreen_hidden {
	display: none !important;
}
.reader_tools_item_btn:hover {
	color: rgb(22, 110, 74); text-decoration: none !important;
}
.reader_tools_item_btn:active {
	color: rgb(22, 110, 74); text-decoration: none !important;
}
.reader_tools_item_btn .ic {
	margin-right: 5px; background-image: url("http://static.wenku.bdimg.com/static/widget/view/doc_reader/bg_docreader_tools_icon_b93e158a.png");
}
.fav_btn .ic {
	
}
.fav_btn .tools-item-ic-active {
	background-position: 0px -16px;
}
.fav_btn:hover .ic {
	background-position: 0px -16px;
}
.fav_btn:active .ic {
	background-position: 0px -16px;
}
.share_btn .ic {
	background-position: -16px 0px;
}
.disabled-share .ic {
	background-position: -16px 0px;
}
.share_btn .tools-item-ic-active {
	background-position: -16px -16px;
}
.share_btn:hover .ic {
	background-position: -16px -16px;
}
.share_btn:active .ic {
	background-position: -16px -16px;
}
.disabled-share:hover .ic {
	background-position: -16px 0px;
}
.addAlbum_btn .ic {
	background-position: -32px 0px;
}
.disabled-addAlbum .ic {
	background-position: -32px 0px;
}
.addAlbum_btn .tools-item-ic-active {
	background-position: -32px -16px;
}
.addAlbum_btn:hover .ic {
	background-position: -32px -16px;
}
.addAlbum_btn:active .ic {
	background-position: -32px -16px;
}
.disabled-addAlbum:hover .ic {
	background-position: -32px 0px;
}
.disabled {
	color: rgb(153, 153, 153); cursor: default; _cursor: default;
}
.disabled {
	color: rgb(153, 153, 153); cursor: default; _cursor: default;
}
.disabled:hover {
	color: rgb(153, 153, 153); cursor: default; _cursor: default;
}
.disabled:hover {
	color: rgb(153, 153, 153); cursor: default; _cursor: default;
}
.tools-item-active {
	color: rgb(22, 110, 74);
}
.reader_tools_tips {
	right: auto !important; letter-spacing: 0px; overflow: visible !important;
}
.reader_tools_tips .tips-wrap {
	margin: 0px !important; width: 100%; height: 100%; box-shadow: none;
}
.reader_tools_tips .inner {
	margin: 0px !important; width: 100%; height: 100%; box-shadow: none;
}
.reader_tools_tips iframe {
	padding: 1px;
}
.reader_tools_tips .act {
	margin: 10px; right: 0px; position: absolute;
}
.reader_tools_tips_content_wrap {
	margin: 15px 14px 20px;
}
.addAblum {
	line-height: 24px; font-size: 12px;
}
.addAblum-alert {
	line-height: 24px; font-size: 12px;
}
.addAblum dt {
	padding-bottom: 5px;
}
.addAblum-alert dt {
	padding-bottom: 5px;
}
.addAblum dd {
	padding: 10px; border: 1px solid rgb(204, 204, 204); height: 72px; overflow: auto; background-color: rgb(255, 255, 255);
}
.addAblum-alert dd {
	padding: 10px; border: 1px solid rgb(204, 204, 204); height: 72px; overflow: auto; background-color: rgb(255, 255, 255);
}
.addAblum dd p input {
	margin-right: 10px; vertical-align: middle;
}
.addAblum-alert dd p input {
	margin-right: 10px; vertical-align: middle;
}
.reader_tools_tips_btn_wrap {
	margin: 0px 14px;
}
.noalbum {
	padding: 0px 20px; font-size: 12px;
}
.reader_tips_fav {
	line-height: 24px; padding-left: 34px; position: relative;
}
.reader_tips_fav .ic {
	background: url("http://static.wenku.bdimg.com/static/widget/view/doc_reader/bg_docreader_tools_icon_b93e158a.png") no-repeat 0px -59px; left: 0px; top: 0px; width: 21px; height: 21px; position: absolute;
}
.reader_tips_fav strong {
	font-size: 14px;
}
.addAblum-alert .ic {
	background: url("http://static.wenku.bdimg.com/static/widget/view/doc_reader/bg_docreader_tools_icon_b93e158a.png") no-repeat 0px -59px; left: 0px; top: 0px; width: 21px; height: 21px; position: absolute;
}
.addAblum-alert strong {
	font-size: 14px;
}
.no_tools_bar {
	height: 0px; line-height: 0; overflow: hidden; font-size: 0px; display: none !important;
}
#store-move-box {
	width: 265px; height: 175px;
}
#store-move-tree {
	border: 1px solid rgb(212, 227, 221); height: 160px; overflow: auto;
}
#store-move-box .fm-icons {
	background: url("http://static.wenku.bdimg.com/static/widget/view/doc_reader/movetree.icons_6c9a6dbe.png") no-repeat 0px 0px; text-indent: -9999px; display: inline-block; position: relative;
}
.tree-item {
	line-height: 28px; padding-left: 10px; position: relative; cursor: pointer;
}
.tree-item .fold-name {
	
}
.tree-item .rename-op-box {
	left: 25px; top: -4px; position: absolute; _width: 140px;
}
.tree-item .new-op-box {
	left: 25px; top: -4px; position: absolute; _width: 140px;
}
#store-move-tree .tree-item .new-op-box {
	_width: 160px;
}
.nl-0 {
	line-height: 28px; padding-left: 10px;
}
.nl-1 {
	padding-left: 20px;
}
.nl-2 {
	padding-left: 30px;
}
.nl-3 {
	padding-left: 40px;
}
.nl-4 {
	padding-left: 50px;
}
.nl-5 {
	padding-left: 60px;
}
.nl-6 {
	padding-left: 70px;
}
.nl-7 {
	padding-left: 80px;
}
.nl-8 {
	padding-left: 90px;
}
.nl-9 {
	padding-left: 100px;
}
.nl-10 {
	padding-left: 110px;
}
.item-tree-loading {
	background: url("http://static.wenku.bdimg.com/static/widget/view/doc_reader/loading_56d4c7ce.gif") no-repeat;
}
#store-move-tree .hasSelected {
	background: rgb(221, 237, 232); font-weight: bold;
}
.tree-item:hover {
	background: rgb(236, 248, 243);
}
#store-move-tree .hover {
	background: rgb(236, 248, 243);
}
.root-node {
	background: 0px; cursor: pointer;
}
#store-move-tree .new-dir {
	border: 1px solid rgb(3, 0, 16); width: 80px; height: 20px; color: rgb(51, 51, 51); line-height: 18px; padding-left: 3px; font-size: 12px;
}
#store-move-tree .btn-radic {
	background-position: -541px -51px; width: 16px; height: 35px; line-height: 35px;
}
#store-move-tree .btn-chi {
	background-position: -90px -101px; width: 16px; height: 35px; line-height: 35px;
}
#store-move-box .ic-new {
	background-position: 0px 1px; width: 20px; height: 16px;
}
#store-move-tree .tree-triangle {
	background: url("http://static.wenku.bdimg.com/static/widget/view/doc_reader/triangle_ab1d38ca.png") no-repeat -999px -999px; width: 16px; height: 16px; position: relative;
}
#store-move-tree .has-dir {
	background-position: 7px -23px; cursor: pointer;
}
#store-move-tree .item-tree-expand {
	background-position: 7px 6px;
}
#store-move-tree .ic-bookroom {
	background-position: -271px 7px;
}
#store-move-box .movetree-btns {
	margin-right: 15px;
}
#store-move-box .operate-line {
	margin: 5px 0px;
}
#store-move-link {
	color: rgb(4, 85, 161); padding-right: 11px; font-size: 14px; font-weight: bold;
}
#store-move-btn {
	background: url("/static/widget/common/user_bar/images/icon-userbar-mn_8c501f5e.png") no-repeat right 5px; padding-right: 10px;
}
#move-tree-tip {
	background: url("http://static.wenku.bdimg.com/static/widget/view/doc_reader/wk-clew-icon_d50348e4.png") no-repeat 3px 2px; padding: 2px 15px 2px 20px; color: red; font-size: 12px; margin-left: 5px;
}
#bdshare a.share-detail-link {
	background: 0px; text-indent: 0px; float: none; display: inline;
}
#bdshare .share-icons {
	padding-bottom: 5px; _width: 330px;
}
.share-box-tip {
	background: url("http://static.wenku.bdimg.com/static/widget/view/share_box/share-box-tip_2321d399.png") no-repeat; width: 271px; height: 46px; text-align: center; line-height: 46px; padding-bottom: 0px; margin-left: 4px; display: inline-block;
}
.share-detail-link {
	background: 0px; outline: 0px; text-indent: 0px; float: none; display: inline;
}
.share-qrcode .hd {
	height: 30px; line-height: 30px; font-size: 12px; font-weight: normal;
}
.share-qrcode .bd {
	margin: 5px;
}
.share-qrcode .bd {
	width: 128px; height: 128px;
}
.share-qrcode .bd img {
	width: 128px; height: 128px;
}
.share-qrcode .bd img {
	margin: 0px !important; line-height: 0;
}
.share-qrcode .bd table {
	margin: 0px !important; line-height: 0;
}
.share-qrcode .bd img {
	display: block;
}
.share-qrcode .bd table {
	table-layout: fixed;
}
.share-qrcode .bd table td {
	line-height: 0; font-size: 0px;
}
.ui-panel {
	margin: auto; overflow: hidden; position: relative; z-index: 7999;
}
.ui-panel .inner {
	background: rgb(248, 252, 251); margin: 5px; border-radius: 2px; border: 1px solid rgb(181, 203, 193); box-shadow: 0px 0px 3px #b5cbc1;
}
.ui-panel .close {
	background: url("http://static.wenku.bdimg.com/static/view/ui/panel/images/panel_1d8766c7.png") no-repeat 0px 0px; width: 16px; height: 16px;
}
.ui-panel .close:hover {
	background: url("http://static.wenku.bdimg.com/static/view/ui/panel/images/panel_1d8766c7.png") no-repeat 0px -16px;
}
.ui-panel .iframe {
	background: rgb(255, 255, 255); left: 0px; top: 0px; width: 100%; height: 9999px; filter: alpha(opacity=0); position: absolute; opacity: 0;
}
.trg-tl .inner {
	margin-top: 10px;
}
.trg-tr .inner {
	margin-top: 10px;
}
.trg-bl .inner {
	margin-bottom: 10px;
}
.trg-br .inner {
	margin-bottom: 10px;
}
.trg-tl .trangle {
	left: 50px; top: 0px;
}
.trg-tr .trangle {
	top: 0px; right: 50px;
}
.trg-bl .trangle {
	left: 50px; bottom: 0px; _bottom: -4px;
}
.trg-br .trangle {
	right: 50px; bottom: 0px; _bottom: -4px;
}
.trangle {
	width: 14px; height: 11px; display: inline-block; position: absolute; z-index: 2;
}
.trg-tl .trangle {
	background: url("http://static.wenku.bdimg.com/static/view/ui/panel/images/panel_1d8766c7.png") no-repeat 0px -30px;
}
.trg-tr .trangle {
	background: url("http://static.wenku.bdimg.com/static/view/ui/panel/images/panel_1d8766c7.png") no-repeat 0px -30px;
}
.trg-bl .trangle {
	background: url("http://static.wenku.bdimg.com/static/view/ui/panel/images/panel_1d8766c7.png") no-repeat 0px -48px;
}
.trg-br .trangle {
	background: url("http://static.wenku.bdimg.com/static/view/ui/panel/images/panel_1d8766c7.png") no-repeat 0px -48px;
}
.doc-info .ic-vip1 {
	background-image: url("http://static.wenku.bdimg.com/static/view/pkg/module_flashview_z3d0aafb8.png");
}
.doc-info .ic-vip2 {
	background-image: url("http://static.wenku.bdimg.com/static/view/pkg/module_flashview_z3d0aafb8.png");
}
.doc-info .ic-vip3 {
	background-image: url("http://static.wenku.bdimg.com/static/view/pkg/module_flashview_z3d0aafb8.png");
}
