.pay-dialog .hd {
	margin: 0px 20px;
}
.pay-dialog .hd .act {
	margin-right: -15px;
}
.pay-dialog .hd .dialog-title {
	padding: 20px 0px 10px;
}
.pay-dialog .confirmBuy {
	margin: 20px; overflow: hidden;
}
.pay-dialog .waitBuy {
	margin: 20px; overflow: hidden;
}
.pay-dialog .buyFail {
	margin: 20px; overflow: hidden;
}
.pay-dialog .buySuccess {
	margin: 20px; overflow: hidden;
}
.pay-dialog .goods-title {
	width: 310px; height: 51px; overflow: hidden; font-size: 14px; text-overflow: ellipsis;
}
.pay-dialog .page-count {
	color: rgb(153, 153, 153);
}
.pay-dialog .bt {
	
}
.pay-dialog .dc {
	line-height: 24px;
}
.pay-dialog .wenkuprice {
	line-height: 24px;
}
.pay-dialog .wenkuprice {
	font-size: 14px; margin-bottom: 15px;
}
.pay-dialog .price-number {
	color: rgb(232, 115, 1); font-weight: bold;
}
.pay-dialog .pay-dialog-foot {
	margin: 15px 15px -15px 0px;
}
.pay-dialog .pay-dialog-foot a {
	color: rgb(153, 153, 153);
}
.pay-dialog .ft {
	margin-bottom: 30px;
}
.pay-dialog .waitBuy .dc {
	margin: 30px 0px; text-align: center;
}
.pay-dialog .buyFail .dc {
	margin: 30px 0px; text-align: center;
}
.pay-dialog .buySuccess h3 {
	margin: 10px 15px 0px; text-align: center;
}
.pay-dialog .buySuccess .content-border {
	margin: 0px 40px; padding: 20px 0px; text-align: center;
}
.pay-dialog .buySuccess .in-room {
	color: rgb(153, 153, 153);
}
.pay-dialog .buySuccess .more-plateform {
	margin: 20px 40px; color: rgb(153, 153, 153);
}
