.main .bottom-doc-list {
	padding: 0px; display: none;
}
.main .bottom-doc-list .tagList {
	padding: 10px; border: 1px solid rgb(235, 247, 244); background-color: rgb(250, 253, 252);
}
.main .bottom-doc-list .tagList a {
	margin: 5px 0px; padding: 0px 10px; border: 1px solid rgb(250, 253, 252); height: 24px; color: rgb(51, 51, 51); line-height: 24px; font-size: 14px; text-decoration: none; display: inline-block; cursor: pointer;
}
.main .bottom-doc-list .tagList a:hover {
	border: 1px solid rgb(212, 228, 225); background-color: rgb(239, 248, 244);
}
.main .bottom-doc-list .tagList a.current {
	border: 1px solid rgb(170, 202, 195); background-color: rgb(213, 233, 229);
}
.main .bottom-doc-list .doc-title a {
	font-size: 14px;
}
.main .bottom-doc-list .data {
	line-height: 32px;
}
.main .bottom-doc-list .data .bg-green {
	background: rgb(250, 253, 252);
}
.main .bottom-doc-list .data .even {
	background: rgb(250, 253, 252);
}
.main .bottom-doc-list .hd {
	position: static;
}
.main .bottom-doc-list .bd {
	border: 0px currentColor;
}
.main .bottom-doc-list .doc-title {
	width: 420px;
}
.main .bottom-doc-list .doc-title .ic {
	margin-right: 5px;
}
.main .bottom-doc-list .doc-price {
	width: 85px;
}
.main .bottom-doc-list .doc-page-num {
	width: 70px;
}
.main .bottom-doc-list .doc-value {
	width: 90px;
}
.main .bottom-doc-list .tableList {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(235, 247, 244) rgb(235, 247, 244);
}
.main .bottom-doc-list .tableList .current {
	display: block;
}
.main .bottom-doc-list .tableList .disabled {
	display: none;
}
.main .bottom-doc-list .tableList table {
	margin: 0px 20px; width: auto;
}
.main .bottom-doc-list h4 {
	color: rgb(51, 51, 51); padding-bottom: 3px; font-size: 14px; font-weight: bold;
}
.main .bottom-doc-list .list-more a {
	color: rgb(153, 153, 153); font-family: simsun;
}
.main .bottom-doc-list .list-more span {
	color: rgb(4, 85, 161);
}
