.ic-ralate-accordion {
	background-image: url("http://static.wenku.bdimg.com/static/view/ui/sync_map/images/sync_map_8bd2466b.png"); background-repeat: no-repeat;
}
.sync-map .trunk-img {
	background-image: url("http://static.wenku.bdimg.com/static/view/ui/sync_map/images/sync_map_8bd2466b.png"); background-repeat: no-repeat;
}
.sync-map .unite-fork {
	background-image: url("http://static.wenku.bdimg.com/static/view/ui/sync_map/images/sync_map_8bd2466b.png"); background-repeat: no-repeat;
}
.sync-map .lesson-fork {
	background-image: url("http://static.wenku.bdimg.com/static/view/ui/sync_map/images/sync_map_8bd2466b.png"); background-repeat: no-repeat;
}
.ic-im-here {
	background-image: url("http://static.wenku.bdimg.com/static/view/ui/sync_map/images/sync_map_8bd2466b.png"); background-repeat: no-repeat;
}
.cut-link {
	width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.sync-ralate-doc-wrap {
	width: 100%; overflow: hidden; font-size: 14px; _zoom: 1;
}
.height-animate {
	height: 0px; -webkit-transition: height 1s; -moz-transition: height 1s; -o-transition: height 1s; transition: height 1s;
}
.hide-by-height {
	font-size: 0px !important;
}
.get-size-class {
	height: auto; visibility: hidden; position: absolute;
}
.has-2-lesson {
	height: auto;
}
.has-3-lesson {
	height: auto;
}
.sync-ralate-doc {
	margin-right: 12px; margin-left: 17px;
}
.sync-ralate-doc dl {
	background: url("http://static.wenku.bdimg.com/static/view/ui/sync_map/images/head_3449eefd.png") no-repeat; height: 58px; cursor: pointer; _overflow: hidden;
}
.sync-ralate-doc dl.hover {
	background-position: 0px -62px;
}
.sync-ralate-doc dl.hover a {
	text-decoration: underline;
}
.sync-ralate-doc dl dt {
	width: 58px; height: 58px; text-align: center; color: rgb(255, 255, 255); line-height: 58px; font-family: "Î¢ÈíÑÅºÚ"; font-size: 24px; float: left; display: block; cursor: pointer;
}
.sync-ralate-doc dl dd {
	padding: 12px; margin-left: 58px;
}
.sync-ralate-doc dl dd h3 {
	margin: 0px 0px 4px;
}
.sync-ralate-doc dl dd h3 a {
	color: rgb(45, 100, 179); font-size: 14px; cursor: pointer;
}
.sync-ralate-doc dl dd .sync-relate-head-static {
	color: rgb(119, 119, 119); line-height: 16px; font-size: 12px; vertical-align: middle;
}
.sync-ralate-doc dl dd .sync-relate-head-static .ic {
	background: url("http://static.wenku.bdimg.com/static/view/ui/sync_map/images/head-ic_ef84587f.png") no-repeat;
}
.sync-ralate-doc dl dd .sync-relate-head-static .ic-courseware {
	background-position: 0px 1px;
}
.sync-ralate-doc dl dd .sync-relate-head-static .ic-workbook {
	background-position: 0px -25px; margin: 0px 1px 0px 8px;
}
.ralate-doc-accordion {
	padding-top: 10px; margin-left: 14px; border-left-color: rgb(124, 207, 149); border-left-width: 1px; border-left-style: solid;
}
.lesson-item-hd {
	height: 27px; line-height: 27px; cursor: pointer; background-color: rgb(234, 247, 239);
}
.lesson-item-hd .lesson-title {
	width: 202px; font-weight: bold; margin-left: 5px;
}
.lesson-item-hd .lesson-title a.last {
	color: rgb(51, 51, 51);
}
.lesson-item-hd .lesson-title a.last:link {
	color: rgb(51, 51, 51);
}
.ic-ralate-accordion {
	background-position: -14px -12px; margin-left: -16px; _position: relative;
}
.sync-tabs .tabControl {
	border: 1px solid rgb(201, 218, 216); height: 20px; line-height: 20px; word-spacing: 0px;
}
.sync-tabs .tabControl li {
	width: 66px; text-align: center; font-weight: bold; border-left-color: rgb(201, 218, 216); border-left-width: 1px; border-left-style: solid; cursor: pointer; background-color: rgb(243, 249, 247);
}
.sync-tabs .tabControl li.current {
	height: 21px; margin-bottom: -1px; cursor: default; background-color: rgb(255, 255, 255); _position: relative; _height: 22px;
}
.sync-tabs .tabControl li.first {
	width: 67px; border-left-width: 0px;
}
.sync-tab-content .disabled {
	display: none;
}
.sync-doc-list {
	
}
.sync-doc-item {
	padding-top: 5px; padding-right: 10px; padding-left: 5px; margin-left: -2px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: dashed; position: relative; _zoom: 1;
}
.sync-doc-item .ic {
	left: 2px; top: 11px; position: absolute;
}
.sync-doc-item .sync-doc-pages {
	right: 10px; bottom: 7px; position: absolute;
}
.sync-doc-item .sync-doc-title {
	line-height: 24px; margin-left: 20px;
}
.sync-doc-item .sync-doc-title span {
	display: block; visibility: hidden;
}
.sync-doc-item a.sync-doc-title:visited {
	color: rgb(145, 174, 215);
}
.sync-doc-item-last {
	border-bottom-width: 0px;
}
.view-more-relate-doc .ic-ralate-accordion {
	width: 12px;
}
.sync-map-in-html {
	margin-right: 9px; z-index: 101; background-color: rgb(255, 255, 255);
}
.sync-map-in-html .top {
	height: 5px; background-image: url("http://static.wenku.bdimg.com/static/view/ui/sync_map/images/mod1_13210b81.png"); background-repeat: repeat-x;
}
.sync-map-in-html .bottom {
	height: 5px; background-image: url("http://static.wenku.bdimg.com/static/view/ui/sync_map/images/mod1_13210b81.png"); background-repeat: repeat-x;
}
.sync-map-in-html .top {
	background-position: top;
}
.sync-map-in-html .bottom {
	background-position: center -8px;
}
.sync-map-in-html .tl {
	width: 5px; background-image: url("http://static.wenku.bdimg.com/static/view/ui/sync_map/images/mod2_3fefb607.png"); background-repeat: no-repeat;
}
.sync-map-in-html .tr {
	width: 5px; background-image: url("http://static.wenku.bdimg.com/static/view/ui/sync_map/images/mod2_3fefb607.png"); background-repeat: no-repeat;
}
.sync-map-in-html .bl {
	width: 5px; background-image: url("http://static.wenku.bdimg.com/static/view/ui/sync_map/images/mod2_3fefb607.png"); background-repeat: no-repeat;
}
.sync-map-in-html .br {
	width: 5px; background-image: url("http://static.wenku.bdimg.com/static/view/ui/sync_map/images/mod2_3fefb607.png"); background-repeat: no-repeat;
}
.sync-map-in-html .tl {
	height: 32000px; overflow: hidden; margin-bottom: -32000px;
}
.sync-map-in-html .tr {
	height: 32000px; overflow: hidden; margin-bottom: -32000px;
}
.sync-map-in-html .bl {
	margin-top: -5px;
}
.sync-map-in-html .br {
	margin-top: -5px;
}
.sync-map-flash-wrap {
	margin-top: 10px;
}
.sync-map-in-flash {
	border: 1px solid rgb(235, 247, 244);
}
.sync-map-html-wrap .sync-map-title {
	margin-left: 5px;
}
.sync-map-title {
	font-weight: bold; margin-bottom: 3px;
}
.sync-map {
	margin: 20px auto; width: 675px; line-height: 14px; font-size: 14px; font-weight: bold; position: relative;
}
.sync-map .trunk-img {
	position: absolute;
}
.sync-map .trunk-names {
	position: absolute;
}
.sync-map .unite-fork {
	position: absolute;
}
.sync-map .lesson-fork {
	position: absolute;
}
.sync-map .view-full-map {
	position: absolute;
}
.sync-map .trunk-img {
	left: 34px; width: 160px; height: 10px;
}
.sync-map .trunk-names {
	left: 0px; z-index: 1;
}
.sync-map .trunk-names span {
	text-align: center;
}
.sync-map .trunk-subject {
	width: 80px;
}
.sync-map .trunk-grade {
	width: 80px;
}
.sync-map .trunk-version {
	width: 65px;
}
.sync-map a.trunk-name-link {
	color: rgb(31, 152, 102) !important;
}
.sync-map a.hit-this {
	color: rgb(31, 152, 102) !important;
}
.sync-map a:hover {
	color: rgb(31, 152, 102) !important;
}
.sync-map .im-here {
	width: 80px; text-align: right; color: rgb(242, 120, 2); font-weight: normal; margin-top: -4px;
}
.sync-map .im-here .ic {
	
}
.sync-map .trunk-names {
	width: 240px; height: 20px;
}
.sync-map .unite-fork {
	height: 114px; _overflow-y: hidden;
}
.sync-map .lesson-fork {
	height: 114px; _overflow-y: hidden;
}
.sync-map .trunk-name-link {
	height: 14px;
}
.sync-map .unite-name-link {
	height: 14px;
}
.sync-map .lesson-name-link {
	height: 14px;
}
.sync-map .unite-link-wrap .justify-link {
	width: 100%;
}
.sync-map .justify-link {
	text-align: justify;
}
.sync-map .justify-link span {
	_position: relative; _top: -1px;
}
.sync-map .justify-link::after {
	width: 100%; height: 0px; overflow: hidden; display: inline-block; content: "";
}
.sync-map .unite-name-link {
	color: rgb(187, 187, 187); vertical-align: top;
}
.sync-map .lesson-name-link {
	color: rgb(187, 187, 187); vertical-align: top;
}
.sync-map .unite-link-wrap {
	margin-left: 100px;
}
.sync-map .lesson-link-wrap {
	margin-left: 100px;
}
.sync-map .unite-fork {
	left: 194px; width: 180px;
}
.sync-map .onlyUnite {
	width: 480px;
}
.sync-map .onlyUnite .hit-cut {
	width: 295px;
}
.sync-map .lesson-fork {
	left: 374px; width: 300px;
}
.sync-map .lesson-fork .hit-cut {
	width: 115px;
}
.sync-map .ic-im-here {
	background-position: 2px -16px;
}
.sync-map .view-full-map {
	right: 0px; bottom: 0px;
}
.sync-map .unite-3-1 {
	background-position: -60px -14px;
}
.sync-map .lesson-3-1 {
	background-position: -60px -14px;
}
.sync-map .unite-2-0 {
	background-position: -60px -126px;
}
.sync-map .lesson-2-0 {
	background-position: -60px -126px;
}
.sync-map .unite-2-1 {
	background-position: -60px -238px;
}
.sync-map .lesson-2-1 {
	background-position: -60px -238px;
}
.sync-map .unite-3-1 .unite-link-wrap {
	margin-bottom: 34px;
}
.sync-map .lesson-3-1 .lesson-link-wrap {
	margin-bottom: 34px;
}
.sync-map .onlyUnite .unite-link-wrap {
	margin-bottom: 36px;
}
.sync-map .unite-2-1 .unite-link-wrap {
	margin-bottom: 86px;
}
.sync-map .lesson-2-1 .lesson-link-wrap {
	margin-bottom: 86px;
}
.sync-map .unite-2-0 .unite-link-wrap {
	margin-bottom: 86px;
}
.sync-map .lesson-2-0 .lesson-link-wrap {
	margin-bottom: 86px;
}
.map-2-0 {
	height: 116px;
}
.map-2-1 {
	height: 116px;
}
.map-3-1 {
	height: 116px;
}
.map-3-1-2-0 {
	height: 116px;
}
.map-3-1-2-1 {
	height: 116px;
}
.map-3-1-3-1 {
	height: 116px;
}
.map-2-0 .trunk-img {
	top: 52px;
}
.map-2-1 .trunk-img {
	top: 52px;
}
.map-3-1 .trunk-img {
	top: 52px;
}
.map-3-1-2-0 .trunk-img {
	top: 52px;
}
.map-3-1-2-1 .trunk-img {
	top: 52px;
}
.map-3-1-3-1 .trunk-img {
	top: 52px;
}
.map-2-0 .trunk-names {
	top: 82px;
}
.map-2-1 .trunk-names {
	top: 82px;
}
.map-3-1 .trunk-names {
	top: 82px;
}
.map-3-1-2-0 .trunk-names {
	top: 82px;
}
.map-3-1-2-1 .trunk-names {
	top: 82px;
}
.map-3-1-3-1 .trunk-names {
	top: 82px;
}
.map-2-0 .unite-fork {
	top: 0px;
}
.map-2-0 .lesson-fork {
	top: 0px;
}
.map-2-1 .unite-fork {
	top: 0px;
}
.map-2-1 .lesson-fork {
	top: 0px;
}
.map-3-1 .unite-fork {
	top: 0px;
}
.map-3-1 .lesson-fork {
	top: 0px;
}
.map-3-1-2-0 .unite-fork {
	top: 0px;
}
.map-3-1-2-0 .lesson-fork {
	top: 0px;
}
.map-3-1-2-1 .unite-fork {
	top: 0px;
}
.map-3-1-2-1 .lesson-fork {
	top: 0px;
}
.map-3-1-3-1 .unite-fork {
	top: 0px;
}
.map-3-1-3-1 .lesson-fork {
	top: 0px;
}
.map-2-0-2-0 {
	height: 166px;
}
.map-2-0-2-1 {
	height: 166px;
}
.map-2-0-3-1 {
	height: 166px;
}
.map-2-1-2-0 {
	height: 166px;
}
.map-2-1-2-1 {
	height: 166px;
}
.map-2-1-3-1 {
	height: 166px;
}
.map-2-0-2-0 .trunk-img {
	top: 102px;
}
.map-2-0-2-1 .trunk-img {
	top: 102px;
}
.map-2-0-3-1 .trunk-img {
	top: 102px;
}
.map-2-0-2-0 .trunk-names {
	top: 132px;
}
.map-2-0-2-1 .trunk-names {
	top: 132px;
}
.map-2-0-3-1 .trunk-names {
	top: 132px;
}
.map-2-0-2-0 .unite-fork {
	top: 50px;
}
.map-2-0-2-1 .unite-fork {
	top: 50px;
}
.map-2-0-3-1 .unite-fork {
	top: 50px;
}
.map-2-0-2-0 .lesson-fork {
	top: 0px;
}
.map-2-0-2-1 .lesson-fork {
	top: 0px;
}
.map-2-0-3-1 .lesson-fork {
	top: 0px;
}
.map-2-0-2-0 .unite-2-0 .not-hit-cut {
	width: auto; max-width: 330px; _width: 330px;
}
.map-2-0-2-1 .unite-2-0 .not-hit-cut {
	width: auto; max-width: 330px; _width: 330px;
}
.map-2-0-3-1 .unite-2-0 .not-hit-cut {
	width: auto; max-width: 330px; _width: 330px;
}
.map-2-1-2-0 .trunk-img {
	top: 52px;
}
.map-2-1-2-1 .trunk-img {
	top: 52px;
}
.map-2-1-3-1 .trunk-img {
	top: 52px;
}
.map-2-1-2-0 .trunk-names {
	top: 82px;
}
.map-2-1-2-1 .trunk-names {
	top: 82px;
}
.map-2-1-3-1 .trunk-names {
	top: 82px;
}
.map-2-1-2-0 .unite-fork {
	top: 0px;
}
.map-2-1-2-1 .unite-fork {
	top: 0px;
}
.map-2-1-3-1 .unite-fork {
	top: 0px;
}
.map-2-1-2-0 .lesson-fork {
	top: 50px;
}
.map-2-1-2-1 .lesson-fork {
	top: 50px;
}
.map-2-1-3-1 .lesson-fork {
	top: 50px;
}
.map-2-1-2-0 .unite-2-1 .not-hit-cut {
	width: auto; max-width: 330px; _width: 330px;
}
.map-2-1-2-1 .unite-2-1 .not-hit-cut {
	width: auto; max-width: 330px; _width: 330px;
}
.map-2-1-3-1 .unite-2-1 .not-hit-cut {
	width: auto; max-width: 330px; _width: 330px;
}
