#doc .ic-star-b-on {
	background: no-repeat -138px -176px;
}
#doc .ic-star-b-half {
	background: no-repeat -96px -176px;
}
#doc .ic-star-b-off {
	background: no-repeat -117px -176px;
}
.value-box {
	margin-top: 10px; margin-bottom: 5px; position: relative; _z-index: 9;
}
.value-box .value-msg {
	float: left;
}
.value-box .value-msg .value-num {
	color: rgb(153, 153, 153); line-height: 14px;
}
.value-box .no-value-tip {
	color: rgb(153, 153, 153); line-height: 34px; font-size: 14px; font-weight: bold; display: none;
}
.value-box .value-msg-none .doc-rate {
	display: none;
}
.value-box .value-msg-none .value-num {
	display: none;
}
.value-box .value-msg-none .no-value-tip {
	display: inline;
}
.value-box .ext {
	display: none;
}
.value-box .score {
	color: rgb(241, 140, 6); padding-right: 3px; font-size: 25px; font-style: italic; font-weight: 600;
}
.value-box .rateStar {
	vertical-align: 3px;
}
.value-box .value-btn {
	float: right;
}
.value-box .value-btn a {
	background: no-repeat -94px -133px; padding: 8px 0px; outline: 0px; width: 89px; height: 22px; text-align: center; color: rgb(51, 51, 51); line-height: 22px; font-size: 14px; text-decoration: none; display: inline-block;
}
.value-box .value-btn a.enable:hover {
	background: no-repeat 0px -133px;
}
.value-box .value-btn a.disabled {
	color: rgb(153, 153, 153); cursor: default;
}
.value-box .value-btn a.value-btn-nopaied {
	font-size: 12px; font-weight: normal;
}
.value-box .value-btn .ic-value {
	background: no-repeat -75px -176px; width: 19px; height: 18px; vertical-align: -4px; _vertical-align: -2px;
}
.value-box .inner {
	margin: 0px; padding: 0px 30px;
}
.value-box .inner .hd {
	padding: 25px 0px 15px;
}
.value-box .inner .hd .content {
	position: relative;
}
.value-box .inner .hd .content .value-title {
	color: rgb(51, 51, 51); font-size: 18px; font-weight: bold; vertical-align: middle;
}
.value-box .inner .hd .content .value-title b {
	color: red;
}
.value-box .inner .hd .content .img-tip {
	background: no-repeat 0px 0px; top: -8px; width: 240px; height: 40px; display: inline-block; position: absolute;
}
.value-box .inner .hd .content .value-tip {
	color: rgb(232, 115, 1); font-size: 14px; font-weight: bold; margin-left: 5px;
}
.value-box .inner .hd .content .star {
	margin-left: 3px; vertical-align: -6px;
}
.value-box .inner .hd .content .value-star {
	display: inline-block; cursor: pointer;
}
.value-box .inner .hd .content .total {
	width: 20px; height: 22px; padding-right: 5px;
}
.value-box .inner .hd .content .ic-star-t-on {
	background: no-repeat -25px -176px;
}
.value-box .inner .hd .content .ic-star-t-off {
	background: no-repeat -50px -176px;
}
.value-box .inner .hd .content .ic-star-t-low {
	background: no-repeat 0px -176px;
}
.value-box .inner .bd {
	text-align: center;
}
.value-box .inner .bd .title {
	text-align: left; font-size: 14px;
}
.value-box .inner .bd ul li {
	text-align: left; color: rgb(153, 153, 153); margin-left: 5px;
}
.value-box .inner .bd ul li .content-color {
	color: rgb(51, 51, 51);
}
.value-box .inner .bd ul li .square {
	border: 1px solid rgb(153, 153, 153); width: 0px; height: 0px; overflow: hidden; font-size: 0px; margin-right: 5px; vertical-align: middle; display: inline-block;
}
.value-box .inner .bd ul li p span {
	padding: 0px 8px; height: 23px; text-align: center; line-height: 23px; margin-top: 10px; margin-left: 10px; display: inline-block; position: relative; cursor: pointer;
}
.value-box .inner .bd ul li p .good-tag {
	background: rgb(255, 243, 229); border: 1px solid rgb(240, 201, 164); color: rgb(232, 115, 1);
}
.value-box .inner .bd ul li p .bad-tag {
	background: rgb(234, 233, 233); border: 1px solid rgb(209, 209, 209); color: rgb(102, 102, 102);
}
.value-box .inner .bd ul li p .user-tag {
	background: rgb(213, 233, 229); border: 1px solid rgb(170, 202, 195); width: auto; color: rgb(102, 102, 102);
}
.value-box .inner .bd ul li p .user-tag b {
	display: none;
}
.value-box .inner .bd ul li p .tag-choose b {
	background: no-repeat -159px -176px; top: 10px; width: 14px; height: 14px; right: -1px; display: block; position: absolute;
}
.value-box .inner .bd ul li p .input-box {
	padding: 0px; border: 1px solid rgb(212, 212, 212); width: 109px; text-align: left; display: inline-block;
}
.value-box .inner .bd ul li p .input-box input {
	padding: 5px 0px 5px 5px; outline: 0px; border: 0px currentColor; width: 79px; color: rgb(102, 102, 102); display: inline-block; background-color: transparent; _height: 11px;
}
.value-box .inner .bd ul li p .input-box a {
	background: no-repeat -188px -133px; outline: 0px; left: 85px; width: 23px; height: 23px; border-left-color: rgb(212, 212, 212); border-left-width: 1px; border-left-style: solid; display: inline-block; position: absolute;
}
.value-box .inner .bd ul li p .input-box a.focus {
	background: no-repeat -216px -133px;
}
.value-box .inner .bd .center-li {
	padding-bottom: 15px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: dashed;
}
.value-box .inner .bd .last-li {
	margin-top: 15px;
}
.value-box .inner .bd .rich {
	_vertical-align: 1px;
}
.value-box .inner .bd .read {
	_vertical-align: 1px;
}
.value-box .inner .bd .rich b {
	cursor: pointer;
}
.value-box .inner .bd .read b {
	cursor: pointer;
}
.value-box .inner .bd .tip {
	color: rgb(232, 115, 1);
}
.value-box-fixed {
	width: 224px; height: 38px; text-align: center; line-height: 38px; margin-top: 0px;
}
.value-box-fixed .value-msg {
	background: no-repeat 0px -45px; width: 113px; height: 38px;
}
.value-box-fixed .value-msg .score {
	color: rgb(241, 140, 6); padding-right: 3px; font-size: 22px; font-style: italic; font-weight: 600;
}
.value-box-fixed .value-msg .ext {
	color: rgb(241, 140, 6); padding-right: 3px; font-size: 22px; font-style: italic; font-weight: 600;
}
.value-box-fixed .value-msg .no-value-tip {
	color: rgb(153, 153, 153); font-weight: normal;
}
.value-box-fixed .value-msg .ext {
	font-family: "ºÚÌå"; display: inline;
}
.value-box-fixed .value-msg .value-num {
	display: none;
}
.value-box-fixed .value-msg .rateStar {
	display: none;
}
.value-box-fixed .value-btn a {
	background: no-repeat -113px -45px; width: 111px;
}
.value-box-fixed .value-btn a.enable:hover {
	background: no-repeat -111px -89px; padding-left: 2px; margin-left: -2px;
}
.value-box-fixed .inner {
	text-align: left;
}
.tag-list-box {
	color: rgb(153, 153, 153); word-break: break-all; _z-index: 1;
}
.tag-list-box .gbma-d {
	border-width: 4px; vertical-align: -5px; border-top-color: rgb(153, 153, 153);
}
.tag-list-box .gbma-u {
	border-width: 4px; border-bottom-color: rgb(153, 153, 153);
}
.tag-list-box .s-tag {
	height: 22px; display: inline-block;
}
.tag-list-box .impress {
	color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;
}
.tag-list-box .top3-tag {
	color: rgb(232, 115, 1);
}
.tag-list-box .normal-tag {
	color: rgb(102, 102, 102);
}
.tag-list-box .triangle {
	border: 5px solid rgb(255, 255, 255); width: 0px; height: 0px; line-height: 0; font-size: 0px;
}
.tag-list-box .tag-more-btn {
	height: 22px; display: inline-block; cursor: pointer; _position: relative; _top: 7px;
}
.tag-show-list .status {
	display: inline-block;
}
.tag-hide-list .status {
	display: none;
}
.user-evaluation {
	padding: 0px; line-height: 22px;
}
.user-evaluation .hd .act {
	top: 5px; right: 10px; position: absolute; z-index: 9;
}
#doc .ic-star-b-on {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
#doc .ic-star-b-half {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
#doc .ic-star-b-off {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
.value-box .value-btn a {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
.value-box .value-btn a.enable:hover {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
.value-box .value-btn .ic-value {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
.value-box .inner .hd .content .img-tip {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
.value-box .inner .hd .content .ic-star-t-on {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
.value-box .inner .hd .content .ic-star-t-off {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
.value-box .inner .hd .content .ic-star-t-low {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
.value-box .inner .bd ul li p .tag-choose b {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
.value-box .inner .bd ul li p .input-box a {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
.value-box .inner .bd ul li p .input-box a.focus {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
.value-box-fixed .value-msg {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
.value-box-fixed .value-btn a {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
.value-box-fixed .value-btn a.enable:hover {
	background-image: url("http://static.wenku.bdimg.com/static/widget/common/userEvaluation/images/userEvaluation_merge_1fdf5731.png");
}
